<!-- Promo Section Component Template -->
<section id="promo" class="promo-section section">
  <div class="promo-carousel-holder">
    <app-carousel id="large"
      [slides]="[promoSlide1, promoSlide2, promoSlide3, promoSlide4, promoSlide5, promoSlide6]"
    >
      <ng-template #promoSlide1>
        <div class="d-flex align-items-center justify-content-center min-vh-100 slide-1"></div>
      </ng-template>
      <ng-template #promoSlide2>
        <div class="d-flex align-items-center justify-content-center min-vh-100 slide-2"></div>
      </ng-template>
      <ng-template #promoSlide3>
        <div class="d-flex align-items-center justify-content-center min-vh-100 slide-3"></div>
      </ng-template>
      <ng-template #promoSlide4>
        <div class="d-flex align-items-center justify-content-center min-vh-100 slide-4"></div>
      </ng-template>
      <ng-template #promoSlide5>
        <div class="d-flex align-items-center justify-content-center min-vh-100 slide-5"></div>
      </ng-template>
      <ng-template #promoSlide6>
        <div class="d-flex align-items-center justify-content-center min-vh-100 slide-6"></div>
      </ng-template>
    </app-carousel>
  </div>
  <div class="overlay-mask"></div>
  <div class="container text-center promo-content">
    <div class="upper-wrapper">
      <h1 class="logo-holder"></h1>
      <h2 class="headline">For Bands and Musicians</h2>
      <div class="tagline">The Perfect Bootstrap Template to Promote Your Music</div>
    </div>
  </div>
  <app-updates-section />
</section>