<!-- Promo Section Component Template -->
<section id="promo" class="promo-section section">
  <div class="promo-carousel-holder">
    <app-carousel
      [slides]="[promoSlide1, promoSlide2, promoSlide3, promoSlide4, promoSlide5, promoSlide6]"
    >
      <ng-template #promoSlide1>
        <div class="d-flex align-items-center justify-content-center min-vh-100 slide-1"></div>
      </ng-template>
      <ng-template #promoSlide2>
        <div class="d-flex align-items-center justify-content-center min-vh-100 slide-2"></div>
      </ng-template>
      <ng-template #promoSlide3>
        <div class="d-flex align-items-center justify-content-center min-vh-100 slide-3"></div>
      </ng-template>
      <ng-template #promoSlide4>
        <div class="d-flex align-items-center justify-content-center min-vh-100 slide-4"></div>
      </ng-template>
      <ng-template #promoSlide5>
        <div class="d-flex align-items-center justify-content-center min-vh-100 slide-5"></div>
      </ng-template>
      <ng-template #promoSlide6>
        <div class="d-flex align-items-center justify-content-center min-vh-100 slide-6"></div>
      </ng-template>
    </app-carousel>
  </div>
  <div class="overlay-mask"></div>
  <div class="container text-center promo-content">
    <div class="upper-wrapper">
      <h1 class="logo-holder"></h1>
      <h2 class="headline">For Bands and Musicians</h2>
      <div class="tagline">
        The Perfect Bootstrap Template to Promote Your Music
      </div>
    </div>
  </div>
  <div class="updates-block">
    <div class="container updates-block-inner">
      <app-carousel [slides]="[updatesSlide1, updatesSlide2, updatesSlide3]">
        <ng-template #updatesSlide1>
          <div class="carousel-item active">
            <div class="media-holder">
              <div class="media-thumb">
                <img src="assets/images/video-thumb-1.jpg" alt="" />
                <a id="video-play-triggger" class="video-play-trigger" (click)="openVideoModal()"><i class="fas fa-play"></i></a>
              </div>
            </div>
            <div class="carousel-content">
              <h3 class="title">Decibel's EP is out July 18th 2024</h3>
              <div class="desc">
                <div class="countdown">
                  <app-countdown-timer targetDate="July 18, 2024"></app-countdown-timer>
                  till release
                </div>
                <p class="intro">
                  Our forthcoming EP is available for pre-order via <a href="#">pledgemusic.com</a> now
                </p>
              </div>
              <a class="btn btn-primary btn-cta" href="#">Pre-order Now</a>
            </div>
          </div>
        </ng-template>
        <ng-template #updatesSlide2>
          <div class="carousel-item">
            <div class="carousel-content no-media-holder">
              <h3 class="title">
                We are performing at <a class="highlight" href="#">The Fleece, London</a> this Saturday night 9:00pm
              </h3>
              <div class="desc">
                <p class="intro">
                  Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes. <br /><a href="#" class="more-link" (click)="openInfoModal()">Find out more</a>
                </p>
              </div>
              <a class="btn btn-primary btn-cta" href="#">Buy Tickets</a>
            </div>
          </div>
        </ng-template>
        <ng-template #updatesSlide3>
          <div class="carousel-item">
            <div class="media-holder">
              <div class="media-thumb">
                <img src="assets/images/image-thumb-1.jpg" alt="" />
              </div>
            </div>
            <div class="carousel-content">
              <h3 class="title">Help to fund our new album via <a href="#">KickStarter</a></h3>
              <div class="desc">
                <p class="intro">
                  Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes. <br /><a href="#" class="more-link">More info</a>
                </p>
              </div>
              <a class="btn btn-primary btn-cta" href="#">Support Us</a>
            </div>
          </div>
        </ng-template>
      </app-carousel>
    </div>
  </div>
</section>
